<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 프로젝트</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="container">
		<h1 class="title">게시판 프로젝트</h1>
		<br>
		<h2 class="title">SPRING BOOT</h2>
		<br>
		<ul>
			<li>SPRING BOOT 2.7.7</li>
			<li>MySQL 8.0</li>
			<li>Mybatis 3.0</li>
			<li>Thymeleaf</li>
		</ul>
		
		<h3 th:text="${author}"></h3>
	
		<div class="go_to_board">
			<a href="/board/list">게시판</a>
		</div>
	</div>
</body>
</html>