<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>게시글 목록</h1>
    
        <a href="/board/insert">글쓰기</a>
    
        <table border="1">
            <tr>
                <th width="50">번호</th>
                <th width="300">제목</th>
                <th width="100">작성자</th>
                <th width="200">등록일자</th>
                <th width="200">수정일자</th>
                <th width="100">조회수</th>
            </tr>
    
            <tr th:each="board : ${boardList}">
                <td align="center" th:text="${board.boardNo}"></td>
                <td>
                    <a th:href="|/board/read?boardNo=${board.boardNo}|" th:text="${board.title}"></a>
                </td>
                <td align="center" th:text="${board.writer}"></td>
                <td align="center">
                    <span th:text="${ #dates.format( board.regDate, 'yyyy-MM-dd HH:mm:ss') }"></span>
                </td>
                <td align="center">
                    <span th:text="${ #dates.format( board.updDate, 'yyyy-MM-dd HH:mm:ss') }"></span>
                </td>
                <td align="center" th:text="${board.views}"></td>
            </tr>
        </table>
        
        <!-- 페이지 번호 표시 -->
        <div>
            <p>현재 페이지: <span th:text="${currentPage}"></span></p>
            <p>총 페이지 수: <span th:text="${totalPages}"></span></p>
            <div th:if="${totalPages > 1}" class="pagenation">
                <ul>
                    <li th:each="pageNumber: ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{/board/list(page=${pageNumber})}" th:text="${pageNumber}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
