<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>게시글 목록</h1>
        
        <br>

        <div class="write_button">
            <button type="button"><a href="/board/insert">글쓰기</a></button>
        </div>
    
        <br>
        <div class="board_list">
            <table border="1">
                <tr>
                    <th width="50">번호</th>
                    <th width="300">제목</th>
                    <th width="100">작성자</th>
                    <th width="200">등록일자</th>
                    <th width="200">수정일자</th>
                    <th width="100">조회수</th>
                    <th width="70">좋아요</th>
                </tr>
        
                <tr th:each="board : ${boardList}">
                    <td align="center" th:text="${board.boardNo}"></td>
                    <td>
                        <a th:href="|/board/read?boardNo=${board.boardNo}|" th:text="${board.title}"></a>
                    </td>
                    <td align="center" th:text="${board.writer}"></td>
                    <td align="center">
                        <span th:text="${ #dates.format( board.regDate, 'yyyy-MM-dd HH:mm:ss') }"></span>
                    </td>
                    <td align="center">
                        <span th:text="${ #dates.format( board.updDate, 'yyyy-MM-dd HH:mm:ss') }"></span>
                    </td>
                    <td align="center" th:text="${board.views}"></td>
                    <td align="center" th:text="${board.like}"></td>
                </tr>
            </table>
        </div>

        <!-- 페이지 번호 표시 -->
        <div class="pagenation">

            <!-- totlaPages가 1보다 크다면 아래 실행 -->
            <div th:if="${totalPages > 1}" class="pagenation_button">
                <ul>
                    <li th:each="pageNo: ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{/board/list(pageNo=${pageNo})}" th:text="${pageNo}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

<script>
    // 페이지가 로딩될 때, getList(게시글 목록)랑 getPageList(페이지 목록) 이렇게 두 개 생성 필요
    // ajax로 변수 만들어서 거기에 추가추가추가추가
</script>
</html>
